<div class="col-md-12">
    <a href="/channels">Tillbaka till Channels</a>
    <h1>{{currentChannel.name}}</h1>
    <div ng-if="currentChannel.body.length > 0">
        {{currentChannel.body}}
    </div>
    <div class="col-md-12">
        <button type="button"
                class="btn btn-success"
                data-toggle="modal"
                data-target="#newMessageModal">
            Add message
        </button>
    </div>

    <div class="col-md-8" ng-repeat="message in messages track by $index">
        <div class="media" style="border: 2px solid #808080; padding:10px; margin:10px;">
            <div class="media-left">
                <img src="../Pictures/IMG_3487 [76048].JPG" class="media-object" style="width:60px" />
            </div>
            <div class="media-body" style="padding-right:20px;">
                <h4>Titel: {{message.title}} - {{message.postDate}}</h4><br />
                <p>Body: {{message.body}}</p>
                <p>Datum: {{message.timeSent | date: 'HH:mm dd-MM-yyyy'}}</p>
                <button type="button"
                        class="btn btn-danger btn-sm"
                        ng-click="deleteMessage(message.id)">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button><br /><br />
            </div>
        </div>
    </div>
</div>
<div ng-include="'Views/Partials/NewMessageModal.html'"></div>
